@*
Created By: Xavier
Purpose: Displays About Us page
*@

@{
	ViewData["Title"] = "About Us";
}
<h1 class="text-center">About Us</h1>
		<br />
<div class="text-center">
		<p>Welcome to Travel Experts, your premier travel agency based in the beautiful city of Calgary! 
		<br />
		<div>
			<img src="~/images/calgarybirdseye2024.jpg" width="600px" />
		</div>
		We are a team of experienced and dedicated travel experts who are passionate about creating memorable travel experiences for our clients.
		<br />
		At Travel Experts, we understand that planning a trip can be a daunting task. That's why we are here to take the stress out of travel planning and help you create the perfect itinerary for your next adventure. Whether you are looking for a romantic getaway, a family vacation, or a group tour, we have the expertise to craft the perfect travel package for you.</p>
</div>
