@{
    ViewData["Title"] = "ThankYou";
}

<h1>Thank you!</h1>
<p>Thank you for updating your information!</p>
<p>Please log in to view your changes</p>
<a asp-action="Login" asp-controller="Account">Login</a>
